.titles {
	font-weight: bold;
	color: red;
}

.random-title {
	font-weight: bold;
	color: red;
	padding-top: 100px;
}

#carousel-inner > .item > img, 
.carousel-inner > .item > a > img {
	width: 20%;
	margin: auto;
}

#randomCarousel {
	padding-bottom: 350px;
}

.img-border {
	border-width: 3px;
	border-color: blue;
}
