thead {color:purple;}
tbody {color:blue;}
tfoot {color:red;}

table{ width: 100%; }

table, th, td {
    border: 1px solid black;
}

.table-cell-pad {
	padding-left: 10px;
	padding-right: 10px;
}
.table-cell-photo{
	padding: 20px;
}